{{!-- 
      vista de todos los productos sin websocket
 --}}
 {{> pagination}}
 <div class="container p-2 m-3">
  {{!-- <h5>Bienvenido {{data.user.name}} <i class="bi bi-balloon-heart"></i>!</h5>
  <p>Username: <b>{{data.user.email}}</b></p> --}}
 </div>
<div class="container-fluid bg-dark text-light" style="min-height: 95vh;">
  <div class="row row-cols-xs-2 row-cols-lg-4 row-cols-sm-2 row-cols-md-3 g-3">
    {{#each data.payload}}
      <div class="col">
          <div class="card bg-dark text-light shadow p-3 mb-5 rounded" style="width: 15rem;">
            {{!-- <img src="..." class="card-img-top" alt="..."> --}}
            {{!-- <a href={{concat "/api/products/" this.uid}}> --}}
            <a href="http://localhost:8080/product/{{this._id}}">
              <img src={{isNC this.thumbnail}} class="card-img-top" alt="poster pelicula"/>
            </a>
            {{!-- <a href={{concat "products" this._id}}>
              <img src={{isNC this.thumbnail}} class="card-img-top" alt="poster pelicula"/>
            </a> --}}
            <div class="card-body">
              <h5 class="card-title">{{this.title}}</h5>
              <div class="container d-flex">
                {{!-- <a href="#" class="btn btn-primary mt-2">un botón <i class="bi bi-apple"></i> </a> --}}
                <a href="#" class="btn btn-warning mt-2 add_cart_product" data-id_product="{{this._id}}">Agregar<i class="bi bi-bag-plus"></i> </a>
              </div>
            </div>
          </div>
      </div>
    {{/each}}
  </div>
</div>
{{> pagination}}

<script src="/assets/script/products.js"></script>